# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Cracked Zombie Mod Config
# Michael Sheppard (crackedEgg)
# For Minecraft Version 1.12.2
# 
##########################################################################################################

general {
    # allowChildSpawns, set to true to have child zombies, otherwise set to false.
    B:allowChildSpawns=true

    # allow CrackedHusks to spawn
    B:allowCrackedHuskSpawns=true

    # allow CrackedPigZombies to spawn
    B:allowCrackedPigZombieSpawns=true

    # allow giantCrackedZombies to spawn
    B:allowGiantCrackedZombieSpawns=true

    # set the initial attack damage caused by the zombies
    D:attackDamage=3.0

    # Attack and kill pigs
    B:attackPigs=true

    # Attack and convert villagers
    B:attackVillagers=true

    # doorBusting, set to true to have zombies try to break down doors, otherwise set to false. It's quieter.
    B:doorBusting=false

    # set true to enchant the sword given to the player
    B:enchantSword=false

    # set the follow range of the zombies
    D:followRange=35.0

    # scale factor for the giant crackedzombie
    D:giantZombieScale=1.25

    # giantzombieSpawnFactor this factor determines chance of giantzombies spawning
    # The lower the number the more likely giantzombies will spawn.
    I:giantZombieSpawnFactor=30

    # allow CrackedHusks to infect player with hunger
    B:huskHunger=true

    # HuskSpawnProb adjust to probability of Husks spawning
    # The higher the number the more likely Husks will spawn.
    I:huskSpawnProb=12

    # whether or not the pig zombies are immune to fire
    B:isImmuneToFire=true

    # maxSpawn, maximum number of crackedHusks per spawn event
    I:maxHuskSpawn=4

    # maxPZSpawn, maximum number of crackedpigzombies per spawn event
    I:maxPZSpawn=3

    # maxSpawn, maximum number of crackedzombies per spawn event
    I:maxSpawn=4

    # minSpawn, minimum number of crackedHusks per spawn event
    I:minHuskSpawn=1

    # minPZSpawn, minimum number of crackedpigzombies per spawn event
    I:minPZSpawn=1

    # minSpawn, minimum number of crackedzombies per spawn event
    I:minSpawn=1

    # set the movement speed of the zombies
    D:moveSpeed=0.23

    # Spawn cracked zombies at night only
    B:nightSpawnOnly=false

    # set the radius in blocks for no spawning near torches, zero enables spawing near torches
    D:noSpawnTorchRadius=3.0

    # pigzombieSpawnProb adjust to probability of pigzombies spawning
    # The higher the number the more likely pigzombies will spawn.
    I:pigzombieSpawnProb=6

    # if true the pigzombies will always attack players
    # Otherwise the pigzombies will only attack if provoked
    B:pzAlwaysAttackPlayers=true

    # set the initial attack damage caused by the pig zombies
    D:pzAttackDamage=5.0

    # set the movement speed of the pig zombies
    D:pzMoveSpeed=0.23

    # Pig Zombie Sickness, set to true to have contact with pigzombies poison the player.
    B:pzSickness=false

    # Sickness, set to true to have contact with zombies poison the player.
    B:sickness=false

    # Spawn cracked zombies in the End
    B:spawnInEnd=false

    # Spawn cracked zombies in the Nether
    B:spawnInNether=true

    # Allows the player to spawn with a random type sword, handy in the apocalypse!
    B:startWithSword=false

    # vanillaHuskSpawns allows/disallows vanilla husk spawns, default is false,
    #  no vanilla minecraft husks will spawn. Only the crackedhusks will spawn.
    #  If set to true, fewer crackedhusks will spawn.
    B:vanillaHuskSpawns=false

    # vanillaPigZombieSpawns allows/disallows vanilla pig zombies spawns, default is false,
    #  no vanilla minecraft pig zombies will spawn. Only the crackedpigzombies will spawn.
    #  If set to true, fewer crackedpigzombies will spawn.
    B:vanillaPigZombieSpawns=false

    # vanillaZombieSpawns allows/disallows vanilla zombies spawns, default is false,
    #  no vanilla minecraft zombies will spawn. Only the crackedzombies will spawn.
    #  If set to true, fewer crackedzombies will spawn.
    B:vanillaZombieSpawns=false

    # zombieSpawnProb adjust to probability of zombies spawning
    # The higher the number the more likely zombies will spawn.
    I:zombieSpawnProb=12
}


